.Post {
    color: white;
    border: 1px solid rgb(119, 119, 119);
    background-color: rgb(0, 0, 0);
    
    display: flex;
    max-width: 600px;
    padding: 0px 15px;
    padding-top: 12px;
    gap: 12px;

    cursor: pointer;
}

.TwitterPostMain {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cuerpoUsuario {
    display: flex;
    gap: 10px;
    font-size: 16px;
    align-items: center;
}
.usuario, .tiempoPost {
    opacity: .60;
    font-size: 14px;
}

.cuerpoPost {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

figure {
    max-width: 500px;
    max-height: 500px;
    align-self: center;
}

figure>img {
    border-radius: 8px;
}



.cuerpoBoton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
}